.container {
    position: relative;
}

.school-header {
    background-color: #4D44B5;
    width: 300px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.school-icon {
    /* chọn màu */
    margin-right: 20px;
    font-size: 36px;
}

.school-name {
    font-size: 32px;
    font-weight: 700;
}

.school-header a {
    text-decoration: none;
    color: white;
}

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #4D44B5;
    transition: 0.5s;
    overflow: hidden;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 10px;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover {
    background-color: white;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}

.navigation ul li:hover a {
    color: #4D44B5;
}

.navigation .icon {
    position: relative;
    display: block;
    text-align: center;
    height: 60px;
    font-size: 26px;
    line-height: 60px;
    width: 60px;
}

.navigation .title {
    position: relative;
    padding: 0 5px;
    height: 60px;
    line-height: 60px;
    display: block;
}

.outlet {
    position: absolute;
    margin-left: 25%;
    font-weight: 700;
    font-size: 36px;
    color: #303972;
    ;
}