.container {
    height: 100vh;
}

.school-header {
    background-color: #4D44B5;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;  
}

.navigation {
    background-color: #4D44B5;
    transition: 0.5s;
    overflow: hidden;
    width: 100%; 
    height: 100%; 
}

.navigation ul {
    padding: 0;
    margin: 0;
}

.navigation ul li {
    width: 100%;
    list-style: none;
    margin-left: 20px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-bottom: 10px;
}

.navigation ul li:hover {
    background-color: #F3F4FF;
}

.navigation ul li a {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: #F3F4FF;
}

.navigation ul li:hover a {
    color: #4D44B5;
}

.navigation .icon {
    margin-right: 10px;
    font-size: 26px;
}

.navigation .title {
    flex-grow: 1;
    font-size: 18px;
}

.school-icon {
    margin-right: 20px;
    font-size: 36px;
    color: white;
}

.school-name {
    font-size: 32px;
    font-weight: 700;
    color: white;
}

.head-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation ul li.active a {
    color: #4D44B5; 
}

.navigation ul li.active {
    background-color: #F3F4FF;
}