* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.dash-name {
  font-weight: 700;
  font-size: 36px;
  color: #303972;
}

.search-box {
  font-weight: 400;
  font-size: 18px;
  border: none;
  background-color: white;
  margin-left: 77%;
  padding: 5px 5px 5px 15px;
  border-radius: 20px;
  width: fit-content;
  /* border: 1px solid black; */
}

.search-input {
  border: none;
  margin-left: 5px;
}

.admin-status {
  width: 70vw;
  height: 15vh;
  margin-top: 30px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  gap: 6%;
  justify-content: center;
  align-items: center;
}

.status-component {
  width: 200px;
  height: 80px;
  /* border: 1px solid black;a */
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  "icon name"
  "icon data";
  text-align: center;
}

.status-icon {
  margin-top: 10px;
  width: 4em;
  height: 4em;
  grid-area: icon;
  padding: 10px;
  border-radius: 100px;
  color: white;
  background-color: #4d43b5;
  text-align: center;
}

.status-icon svg {
  width: 2.5em;
  height: 2.5em;
}

.status-name {
  font-weight: 400;
  font-size: 1.5em;
  grid-area: name;
}

.status-data {
  font-weight: 700px;
  font-size: 2em;
  grid-area: data;

}

.ant-picker-calendar {
  width: 126%;
  height: 85vh;
}  